html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans';
    background-color: #f7f7f8;
}

.bold {
    font-weight: 700;
}

.not-visible {
    visibility: hidden;
}

.App {
    .header{
        font-family: "Open Sans Condensed";
        font-weight: 600;
        font-style: normal;
        font-size: 40px;
        text-align: center;
    }

    .main-form {
        max-width: 450px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 60px;
        background-color: #efadad;

        &_input-group {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 10px 0;

            label {
                flex: 1;
            }

            input, textarea {
                flex: 2;
                min-height: 30px;
            }
        }

        .submit-button,
        .cancel-button {
            padding: 10px;
            text-transform: uppercase;
            min-width: 200px;
            background-color: #666666;
            outline: none;
            border: none;
            color: white;
            font-family: 'Open Sans Condensed';
            font-weight: 400;
            font-size: 17px;
            letter-spacing: 1px;
            cursor: pointer;
            opacity: 0.7;
            transition: 0.3s;
            margin: 10px 0;

            &:disabled:hover {
                opacity: 0.7;
            }

            &:hover {
                opacity: 1;
            }
        }

        .cancel-button {
            background-color: #6b1440;
        }

    }

    .tm {
        &-tape-wrapper {
            margin: 60px 0;
            min-height: 80px;
            display: flex;
            overflow: auto;
            padding: 35px 0;
            background-color: #ececec;
        }

        &-tape-block {
            border: 1px solid #000;
            border-left: none;
            display: flex;
            align-items: center;
            padding: 10px;
            text-align: center;
            min-width: 60px;
            justify-content: center;
            position: relative;

            &.header-on:after {
                content: '\25bc';
                position: absolute;
                top: -33px;
                color: #16cc16;
                font-size: 30px;
            }
        }
    }

    .simulation-info {
        max-width: 300px;
        margin: 0 auto;
        background-color: #d1daff;
        padding: 10px;
    }
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
} 

::-webkit-scrollbar-thumb {
    background-color: #878c8b;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}
